* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
  background: #e0e0e0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(180, 180, 180, 0.505);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 120px;
  height: 120px;
  animation-delay: 2s;
  animation-duration: 10s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

main {
  padding: 20px 0 10px 0;
  height: 570px;
  width: 400px ;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe,
    -5px -5px 10px #ffffff;
    z-index: 1;
}

.img-box {
  height: 150px;
  width: 150px;
  background-image: url("images/profile1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 6px 6px 14px #a5abba, -6px -6px 14px #fdffff;
  box-shadow: 6px 6px 14px #a5abba, -6px -6px 14px #fdffff;
}

.name-section {
  font-size: 40px;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.705)
}

.link-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 280px;
  width: 70%;
}

.link-section a {
  width: 100%;
  text-decoration: none;
}

.link-section button {
  height: 40px;
  width: 100%;
  margin: 20px 0 0 0;
  font-size: 22px;
  color: rgba(0, 113, 179, 0.889);
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 16px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #c1c1c1,
    -5px -5px 10px #ffffff;
  transition: all .5s;
}

.link-section button:hover {
  border-radius: 16px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 5px 5px 10px #c1c1c1,
    -5px -5px 10px #ffffff;
}

.icon-link {
  width: 70%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.icon-link i {
  transform: scale(1.8);
  margin: 0 12px;
  cursor: pointer;
  color: grey;
  transition: all .5s;

}
.icon-link i:hover{
  color: rgb(158, 158, 158);
}
.icon-link h6{
  font-size: 18px;
  color: grey;
  font-weight: 100;
}
.icon-link h6 a{
  color: rgba(0, 113, 179, 0.889);
  text-decoration: none;

}